.AdminsInfo {
    margin-top: 70px;
    width: 97%;
    margin: 0 auto;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.adminsImg {
    width: 80%;
    height: 70%;
    margin: 0 auto;
}

.cardIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 15px;
}

.cardIcons a {
    font-size: 1.5em;
}

.admin-cart-item {
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .AdminsInfo {
        width: 83%;
    }
}