.home{
    margin-top: 100px;
}

.cardGroup-dark {
    color: var(--white);
    background-color: var(--fuchsia);
}

.cardGroup-light {
    color: var(--dark);
    background-color: var(--darkgoldenrod);
}

.chart{
    width: 96% !important;
    border-radius: 5px;
}