@import "./reset.css";

:root {
    --white: #ffffff;
    --white-50: #f0f0f0;
    --blue: #00adb5;
    --dark: #00458B;
    --fuchsia: #3778C2;
    --yellow: #F7CD46;
    --aqua: #0F2557;
    --black: #000000;
    --orange: #D76F30;
    --burlywood: #FDF5DF;
    --darkgoldenrod: #F7CD46;
}

@font-face {
  font-family: 'IRANSans';
  src: local('IRANSans'), url("./asset/Fonts/IRANSans.ttf") format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IRANSans";
}

body {
  /* direction: rtl; */
}